body {
  margin: 0;
}
#code {
	background-color: black;
	color: #00ff00;
	font-family: monospace;
}
#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 24px;
  margin: 0 auto;
  max-width: 1400px;
}
